@charset "UTF-8";

/*
    Paleta de Cores
    Azul Escuro: #000752 
    Azul Claro: #2b6fff
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: #000752;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.43);

    width: 300px;
    height: 600px;

    overflow: hidden;
}

section#login > div#imagem {
    background: black url(../imagens/imagem-predio.jpg) no-repeat left center;
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario {
    text-align: center;
    padding: 20px;
    display: block;
}

div#formulario > h1 {
    margin: 15px 0px;
    color: #000000;
}

div#formulario > p {
    text-align: justify;
}

div.campo {
    margin: 10px 0px;
}

div.campo > input {
    background-color: white;

    border: 2px solid #7c7c7c;
    border-radius: 5px;
    padding: 10px 5px;
    margin: auto;

    font-size: 1em;
    width: 97%;

    display: block;
}

form > input[type="submit"] {
    color: white;
    background-color: #2b6fff;

    border: 2px solid #2b6fff;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 5px;

    font-size: 1em;
    width: 100%;

    display: block;
}

a.botao {
    text-decoration: none;
    color: #2b6fff;
    background-color: white;

    border: 2px solid #2b6fff;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 5px;

    display: block;
}